:root {
    --red: #ff2a00;
    --black: #000;
    --orange: #ff8a00;
    --yellow: #ffac00;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: initial;
    transition: all .2s linear;    
} 

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 5rem;
} 

body {
    background-color: #f2f2f2;
}

h1 {
    font-size: 5.6rem;
}


.boton {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff2a00+40,ff8a00+68,ff8a00+68,ffac00+100 */
    background: #ff2a00; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #ff2a00 40%,#ff8a00 68%,#ff8a00 68%,#ffac00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #ff2a00 40%,#ff8a00 68%,#ff8a00 68%,#ffac00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.boton:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffac00+40,ff8a00+68,ff8a00+68,ff2a00+100 */
    background: #ffac00; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffac00 40%, #ff8a00 68%, #ff8a00 68%, #ff2a00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffac00 40%,#ff8a00 68%,#ff8a00 68%,#ff2a00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffac00 40%,#ff8a00 68%,#ff8a00 68%,#ff2a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac00', endColorstr='#ff2a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    letter-spacing: .1rem;
}

.botonFiltro {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    background-color: var(--red);
}

.botonFiltro:hover {
    background-color: var(--orange);
    letter-spacing: .1rem;
}

.catActvie {
    background-color: var(--black);
}


.titulo {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.titulo_mod {
    text-align: left;
}

.preTitulo {
    text-align: center;
    color: var(--red);
    font-size: 2rem;
    padding-top: 1rem;
}
.preTitulo_mod {
    text-align: left;
}


.bkgwhite {
    background-color: #fff;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/* ? BARRA DE NAVEGACIÓN */
/* ?___________________________________________________________________________________________________________________________________________ */


.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    z-index: 10000;
}

.contenedor_nav {
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}

.logo_sup {
    height: 100%;
}

/* ! BARRA DE NAVEGACIÓN CON SUB MENU */

    .nav ul {
        list-style-type: none ; 
        background-color: var(--black);    
    }

    .menuSup li {
        display: inline-block;    
        border-radius: .5rem;
    }

    .menuSup ul li a {
        display: block;
        font-size: 1.7rem;
        color: #fff;
        padding: .5rem 1.5rem;
    }

    .menuSup li:hover > ul {
        display: block;
    }

    .menuSup li.active,
    .menuSup li:hover {
        color: #fff; 
        background: #ff2a00; /* Old browsers */
        background: -moz-linear-gradient(45deg,  #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg,  #ff2a00 40%,#ff8a00 68%,#ff8a00 68%,#ffac00 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg,  #ff2a00 40%,#ff8a00 68%,#ff8a00 68%,#ffac00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

    .subMenu {
        display: none;
        position: absolute;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .subMenu li {
        display: block;
        margin: 1rem;
        width: 13rem;
    }

/* ! _______________________________________ */


.iconos {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;

    background: #ff2a00; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #ff2a00 40%,#ff8a00 68%,#ff8a00 68%,#ffac00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #ff2a00 40%,#ff8a00 68%,#ff8a00 68%,#ffac00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}

.iconos:hover {
    color: #fff;
    transform: rotate(360deg);

    background: #ffac00; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffac00 40%, #ff8a00 68%, #ff8a00 68%, #ff2a00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffac00 40%,#ff8a00 68%,#ff8a00 68%,#ff2a00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffac00 40%,#ff8a00 68%,#ff8a00 68%,#ff2a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac00', endColorstr='#ff2a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


/* ? HERO */
/* ?___________________________________________________________________________________________________________________________________________ */

.hero {
    display: flex;
    align-items: center;
    padding-top: 6rem; 
    flex-wrap: wrap;    
    height: 70rem;
}

.hero_fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hero_fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroFiltro {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

.hero span {
    color: #ff2a00;
}

.hero p {
    font-size: 2.5rem;
    text-align: left;
    color: var(--orange);
    padding: 0;
}

.hero_content {
    position: absolute;
    left: 15rem;
    width: 65rem;
}

.hero_content img {
    width: 50rem;
    max-width: 100%;
}

.heroModify h1 {
    color: #fff;
}

.heroModify p {
    font-size: 2.5rem;
    text-align: left;
    color: var(--orange);
}


/* ? HISTORIA */
/* ?___________________________________________________________________________________________________________________________________________ */

.historia {

    padding: 5rem;
}

.historia p {
    font-size: 1.5rem;
}

.historia h3 {
    font-size: 2.5rem;
}

.historia span {
    font-size: 1.4rem;
    color: var(--red);
}

.historia_imagen {
    width: 60rem;
    float: left;
    margin: 5rem;
}

.historia_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.historia_firma {
    margin-top: 3rem;
} 

.historia_firma img {
    width: 5rem;
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
}

/* ? OFERTAS */
/* ?___________________________________________________________________________________________________________________________________________ */

.ofertas h3 {
    font-size: 2.5rem;
}

.ofertas h4 {
    font-size: 3.5rem;
    font-weight: 800;
}

.ofertas span {
    color: var(--red);
    font-size: 2rem;
}

.ofertas ul {
    list-style-type: disc ; 
    list-style-position: inside;
}

.ofertas li {    
    font-size: 1.5rem;
    color: var(--red);
}

.ofertas p {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--light-color);
}

/* ? DESTACADOS */
/* ?___________________________________________________________________________________________________________________________________________ */

.destacados h3 {
    font-size: 2rem;
}

.destacados p {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--light-color);
}

.destacados i {
    font-size: 2rem;
    color: var(--red);
}

/* ? MENÚ */
/* ?___________________________________________________________________________________________________________________________________________ */

.menu h3 {
    font-size: 1.8rem;
}

.menu p {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--light-color);
}

.menu ul {
    list-style-type: disc ; 
    list-style-position: inside;
}

.menu li {    
    font-size: 1.5rem;
    color: var(--red);
}

.menu span {
    font-size: 2rem;
    font-weight: 800;
}

/* ? CHEFS */
/* ?___________________________________________________________________________________________________________________________________________ */

.chefs h3 {
    font-size: 1.8rem;
}

.chefs p {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--light-color);
}

/* ? CALIDAD */
/* ?___________________________________________________________________________________________________________________________________________ */

.calidad {
    display: flex;
}

.calidad h3 {
    font-size: 1.8rem;
}

.calidad p {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--light-color);
}

.calidad i {
    font-size: 2rem;
    color: var(--red);
}


/* ? RESEÑAS */
/* ?___________________________________________________________________________________________________________________________________________ */

.reseñas h3 {
    font-size: 1.8rem;
}

.reseñas p {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--light-color);
}

.reseñas .stars {
    padding: 1rem 0;
}

.reseñas .stars i {
    font-size: 1.7rem;
    color: var(--orange);
}


/* ? FOOTER */
/* ?___________________________________________________________________________________________________________________________________________ */

.footer {
    display: flex;
}

.footer h3 {
    font-size: 1.8rem;
}

.derechos {
    background-color: var(--black);
    color: var(--red);
    text-align: center;
    font-size: 1.2rem;
}

.derechos a {
    color: #fff;
}

.derechos span {
    color: #fff;
}

/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: MENU */
/* ! -------------------------------------------------------------------------------------------------- */

/* ? MENÚ - CATEGORIAS */
/* ?___________________________________________________________________________________________________________________________________________ */

.categorias {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.categorias ul {
    list-style-type: none ;     
}

.categorias ul li {
    color: #fff;
}

table thead th {
    background-color: black;
    color: #fff;
}


/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: PROMOCIONES */
/* ! -------------------------------------------------------------------------------------------------- */



/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: GALERIA */
/* ! -------------------------------------------------------------------------------------------------- */



/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: BLOG */
/* ! -------------------------------------------------------------------------------------------------- */



/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: CONTACTO */
/* ! -------------------------------------------------------------------------------------------------- */



