@charset "UTF-8";
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: initial;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 5rem;
}

body {
  background-color: #f2f2f2;
}

h1 {
  font-size: 5.6rem;
}

a {
  text-decoration: none;
}

.iconos {
  cursor: pointer;
  margin-left: .5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  border-radius: 50%;
  color: #fff;
  background: #ff2a00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.iconos:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: #ffac00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffac00 40%, #ff8a00 68%, #ff8a00 68%, #ff2a00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac00', endColorstr='#ff2a00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.heroFiltro {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.bkgFiltro {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
}

.botInicio {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}

.boton {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
  color: #fff;
  background: #ff2a00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.boton:hover {
  background: #ffac00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffac00 40%, #ff8a00 68%, #ff8a00 68%, #ff2a00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac00', endColorstr='#ff2a00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  letter-spacing: .1rem;
  color: #fff;
}

.titulo, .tituloLeft, .tituloWhite {
  text-align: center;
  color: #000;
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.tituloLeft {
  text-align: left;
}

.tituloWhite {
  color: #fff;
}

.preTitulo, .preTituloLeft, .preTituloWhite {
  text-align: center;
  color: #ff2a00;
  font-size: 2rem;
  padding-top: 1rem;
}

.preTituloLeft {
  text-align: left;
}

.preTituloWhite {
  color: #fff;
}

.txtWhite {
  color: #fff;
}

.bkgwhite {
  background-color: #fff;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.fondoSecciones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

/* ? BARRA DE NAVEGACIÓN */
/* ?___________________________________________________________________________________________________________________________________________ */
.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  z-index: 10000;
  top: 0;
}

.nav .contenedor_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.nav .contenedor_nav .logo_sup {
  height: 100%;
}

.nav .contenedor_nav .menuSup ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  list-style-type: none;
}

.nav .contenedor_nav .menuSup ul li {
  border-radius: .5rem;
}

.nav .contenedor_nav .menuSup ul li a {
  display: block;
  font-size: 1.7rem;
  color: #fff;
  padding: .5rem 1.5rem;
}

.nav .contenedor_nav .menuSup ul li:hover > ul {
  display: block;
}

.nav .contenedor_nav .menuSup ul li.active {
  color: #fff;
  background: #ff2a00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.nav .contenedor_nav .menuSup ul li:hover {
  color: #fff;
  background: #ff2a00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

@media screen and (max-width: 768px) {
  .nav .contenedor_nav .menuSup {
    display: none;
  }
}

.hero, .heroMod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4.5rem;
  height: 70rem;
}

.hero .hero_fondo, .heroMod .hero_fondo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.hero img, .heroMod img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero_content, .heroMod .hero_content, .hero .hero_content_modify, .heroMod .hero_content_modify {
  position: absolute;
  left: 15rem;
  width: 65rem;
}

.hero .hero_content img, .heroMod .hero_content img, .hero .hero_content_modify img, .heroMod .hero_content_modify img {
  width: 90%;
  max-width: 90%;
}

@media screen and (max-width: 768px) {
  .hero .hero_content h1, .heroMod .hero_content h1, .hero .hero_content_modify h1, .heroMod .hero_content_modify h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 375px) {
  .hero .hero_content h1, .heroMod .hero_content h1, .hero .hero_content_modify h1, .heroMod .hero_content_modify h1 {
    font-size: 2.5rem;
  }
}

.hero .hero_content span, .heroMod .hero_content span, .hero .hero_content_modify span, .heroMod .hero_content_modify span {
  color: #ff2a00;
}

.hero .hero_content p, .heroMod .hero_content p, .hero .hero_content_modify p, .heroMod .hero_content_modify p {
  font-size: 2.5rem;
  text-align: left;
  color: #ff8a00;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .hero .hero_content p, .heroMod .hero_content p, .hero .hero_content_modify p, .heroMod .hero_content_modify p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 375px) {
  .hero .hero_content p, .heroMod .hero_content p, .hero .hero_content_modify p, .heroMod .hero_content_modify p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero .hero_content, .heroMod .hero_content, .hero .hero_content_modify, .heroMod .hero_content_modify {
    left: 5rem;
    width: 55rem;
  }
}

@media screen and (max-width: 768px) {
  .hero .hero_content, .heroMod .hero_content, .hero .hero_content_modify, .heroMod .hero_content_modify {
    width: 35rem;
  }
}

@media screen and (max-width: 375px) {
  .hero .hero_content, .heroMod .hero_content, .hero .hero_content_modify, .heroMod .hero_content_modify {
    width: 25rem;
  }
}

@media screen and (max-width: 480px) {
  .hero, .heroMod {
    height: 45rem;
  }
}

.hero .hero_content_modify h1, .heroMod .hero_content_modify h1 {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .heroMod {
    height: auto;
  }
}

/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: MENU */
/* ! -------------------------------------------------------------------------------------------------- */
.categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.categorias ul {
  list-style-type: none;
}

.categorias ul li {
  color: #fff;
}

.botonFiltro {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
  background-color: #ff2a00;
}

.botonFiltro:hover {
  background-color: #000;
  letter-spacing: .1rem;
}

.botonFiltro--actvie {
  background-color: #000;
}

/* ? MENÚ */
/* ?___________________________________________________________________________________________________________________________________________ */
.secMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px 0;
}

.secMenu .menu .box {
  background: #fff;
  border-radius: .5rem;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  width: 25%;
  margin: 1rem;
  padding: 1.5rem;
}

.secMenu .menu .box .box_image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.secMenu .menu .box .box_image img {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.secMenu .menu .box .box_image .fa-heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #fff;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  text-align: center;
  color: #000;
}

.secMenu .menu .box .box_image .fa-heart:hover {
  background: #ff2a00;
  color: #fff;
}

.secMenu .menu .box .box_content {
  padding: .5rem;
  padding-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secMenu .menu .box .box_content .stars {
  padding-bottom: 1rem;
}

.secMenu .menu .box .box_content .stars i {
  font-size: 1.2rem;
  color: #ff8a00;
}

.secMenu .menu .box .box_content .box_texto {
  height: 165px;
}

.secMenu .menu .box .box_content .box_texto h3 {
  font-size: 1.8rem;
  font-weight: 800;
}

@media screen and (max-width: 375px) {
  .secMenu .menu .box .box_content .box_texto h3 {
    font-size: 1.5rem;
  }
}

.secMenu .menu .box .box_content .box_texto p {
  font-size: 1.4rem;
  color: #666;
  line-height: 1.3;
}

@media screen and (max-width: 375px) {
  .secMenu .menu .box .box_content .box_texto p {
    font-size: 1.3rem;
  }
}

.secMenu .menu .box .box_content .box_texto ul {
  list-style-type: disc;
  list-style-position: inside;
  font-style: italic;
}

.secMenu .menu .box .box_content .box_texto ul li {
  font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
  .secMenu .menu .box .box_content .box_texto ul {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .secMenu .menu .box .box_content .box_texto {
    height: 85px;
  }
}

.secMenu .menu .box .box_content span {
  color: #ff2a00;
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: 800;
  text-align: right;
}

.secMenu .menu .box .box_content a {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .secMenu .menu .box .box_content a {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 375px) {
  .secMenu .menu .box .box_content a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .secMenu .menu .box {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .secMenu .menu .box {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .secMenu .menu .box {
    width: 48%;
    margin: 2px;
  }
}

@media screen and (max-width: 1200px) {
  .secMenu .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .secMenu {
    padding: 20px 0 30px 0;
  }
}

/* ? SECCIÓN HISTORIA */
/* ?___________________________________________________________________________________________________________________________________________ */
.historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50vh;
  margin: 3.5rem;
}

.historia .historia_imagen {
  width: 50%;
  overflow: hidden;
}

.historia .historia_imagen img {
  width: 100%;
  max-height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .historia .historia_imagen img {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .historia .historia_imagen {
    width: 100%;
    height: 300px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .historia .historia_imagen {
    height: 200px;
  }
}

.historia .historia_content {
  width: 45%;
  text-align: justify;
  padding: 1rem;
  margin-right: 3rem;
}

.historia .historia_content p {
  font-size: 1.5rem;
}

.historia .historia_content .historia_firma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.historia .historia_content .historia_firma img {
  width: 5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.historia .historia_content .historia_firma .historia_cheff {
  border-left: 2px solid #666;
  padding-left: 2rem;
}

.historia .historia_content .historia_firma .historia_cheff h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

.historia .historia_content .historia_firma .historia_cheff span {
  font-size: 1.4rem;
  color: #ff2a00;
}

@media screen and (max-width: 768px) {
  .historia .historia_content {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .historia {
    height: auto;
  }
}

/* ? DESTACADOS */
/* ?___________________________________________________________________________________________________________________________________________ */
.secDestacados .destacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  max-width: 1200px;
  z-index: 1;
}

.secDestacados .destacados .destacados_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 28%;
  height: 250px;
  margin: 1.5rem;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.secDestacados .destacados .destacados_card .content {
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secDestacados .destacados .destacados_card .content i {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 9em;
  color: #ffac00;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .secDestacados .destacados .destacados_card .content i {
    font-size: 7rem;
  }
}

.secDestacados .destacados .destacados_card .content h3 {
  font-size: 2rem;
  z-index: 1000;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .secDestacados .destacados .destacados_card .content h3 {
    font-size: 1.8rem;
  }
}

.secDestacados .destacados .destacados_card .content p {
  font-size: 1.3rem;
  font-style: italic;
  color: #666;
}

@media screen and (max-width: 768px) {
  .secDestacados .destacados .destacados_card .content p {
    font-size: 1.2rem;
  }
}

.secDestacados .destacados .destacados_card:hover .content i {
  color: #ff2a00;
}

@media screen and (max-width: 480px) {
  .secDestacados .destacados .destacados_card {
    width: 42%;
    height: 200px;
  }
}

@media screen and (max-width: 375px) {
  .secDestacados .destacados .destacados_card {
    width: 95%;
    height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .secDestacados {
    padding: 20px 0 30px 0;
  }
}

/* ? SECCIÓN VÍDEO */
/* ?___________________________________________________________________________________________________________________________________________ */
.secVideo {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secVideo .videoContent {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secVideo .videoContent .play {
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50%;
  margin-top: 15px;
  -webkit-animation: ripple 2.5s linear 1s infinite;
  animation: ripple 2.5s linear 1s infinite;
}

.secVideo .videoContent .play img {
  width: 80px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.secVideo .videoContent .play:hover {
  background: var(--red);
}

.secVideo .videoPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  visibility: hidden;
  opacity: 0;
}

.secVideo .videoPopup.active {
  visibility: visible;
  opacity: 1;
}

.secVideo .videoPopup video {
  max-width: 1200px;
  outline: none;
}

.secVideo .videoPopup .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 32px;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 5rem rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 5rem rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 4rem rgba(255, 255, 255, 0.2), 0 0 0 8rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 4rem rgba(255, 255, 255, 0.2), 0 0 0 8rem rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 5rem rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 5rem rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 4rem rgba(255, 255, 255, 0.2), 0 0 0 8rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 4rem rgba(255, 255, 255, 0.2), 0 0 0 8rem rgba(255, 255, 255, 0);
  }
}

/* ? RESERVACIONES */
/* ?___________________________________________________________________________________________________________________________________________ */
.reservaciones::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.reservaciones .reservaciones_content {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parallax {
  position: relative;
  height: 45rem;
}

.parallax::before {
  background-image: url(../img/reservaciones.jpg);
  content: '';
}

/* ? CALIDAD */
/* ?___________________________________________________________________________________________________________________________________________ */
.secCalidad {
  padding-bottom: 0;
}

.secCalidad .calidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secCalidad .calidad .calidad_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 10px;
}

.secCalidad .calidad .calidad_content .calidad_der {
  text-align: right;
  width: 250px;
}

.secCalidad .calidad .calidad_content .calidad_izq {
  width: 250px;
}

.secCalidad .calidad .calidad_content .calidad_content h3 {
  font-size: 1.8rem;
}

.secCalidad .calidad .calidad_content p {
  font-size: 1.3rem;
  font-style: italic;
  color: #666;
}

.secCalidad .calidad .calidad_content .calidad_iconos {
  margin: 0 15px;
}

.secCalidad .calidad .calidad_content .calidad_iconos i {
  height: 6.5rem;
  line-height: 6.5rem;
  width: 6.5rem;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  border-radius: 50%;
  color: #fff;
  background: #ff2a00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.secCalidad .calidad .calidad_content:hover .calidad_iconos {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.secCalidad .calidad .calidad_content:hover .calidad_iconos i {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.secCalidad .calidad .calidad_imagen {
  height: 550px;
}

.secCalidad .calidad .calidad_imagen img {
  height: 100%;
}

/* ? CHEFS */
/* ?___________________________________________________________________________________________________________________________________________ */
.chefs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chefs .chef_card {
  padding: 10px;
  width: 30%;
  margin: 0 10px;
}

.chefs .chef_card .chef_img {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
  background: #ff2a00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff2a00 40%, #ff8a00 68%, #ff8a00 68%, #ffac00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#ffac00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chefs .chef_card .chef_img img {
  position: absolute;
  bottom: 0;
  height: 95%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  left: -40px;
}

.chefs .chef_card:nth-child(2) .chef_img {
  background: #ffac00;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffac00 40%, #ff8a00 68%, #ff8a00 68%, #ff2a00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac00', endColorstr='#ff2a00',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.chefs .chef_card:hover .chef_img img {
  height: 120%;
}

.chefs .chef_card:hover .chef_img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.chefs .chef_card .chef_content {
  padding: 0 10px;
}

.chefs .chef_card .chef_content h3 {
  font-size: 1.8rem;
}

.chefs .chef_card .chef_content p {
  font-size: 1.3rem;
  font-style: italic;
  color: var(--light-color);
}

.chefs .chef_card .chef_content .chef_social {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

/* ? RESEÑAS */
/* ?___________________________________________________________________________________________________________________________________________ */
.reseñas .slide {
  padding: 2rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: relative;
}

.reseñas .slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 6rem;
  color: #ccc;
}

.reseñas .slide .cliente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.reseñas .slide .cliente img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}

.reseñas .slide .cliente h3 {
  font-size: 2rem;
  padding-bottom: .5rem;
}

.reseñas .slide .cliente i {
  font-size: 1.3rem;
  color: #ff8a00;
}

.reseñas .slide p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #666;
}

/* ? GALERIA */
/* ?___________________________________________________________________________________________________________________________________________ */
.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.galeria .galeria_content {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 0;
}

.galeria .galeria_content img {
  width: 100%;
}

/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: BLOG */
/* ! -------------------------------------------------------------------------------------------------- */
.secBlog {
  width: 85%;
  margin: 25px auto;
}

.secBlog .blogs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
}

.secBlog .blogs .blogBox {
  width: 45%;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  background-color: #fff;
}

.secBlog .blogs .blogBox iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.secBlog .blogs .blogBox .blogBox_content {
  width: 100%;
  height: 260px;
  padding: 20px;
}

.secBlog .blogs .blogBox .blogBox_content h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.secBlog .blogs .blogBox .blogBox_content span {
  font-size: 1.2rem;
  font-style: italic;
  margin-right: 1rem;
}

.secBlog .blogs .blogBox .blogBox_content p {
  font-size: 1.5rem;
}

/* ? OFERTAS */
/* ?___________________________________________________________________________________________________________________________________________ */
.secOfertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secOfertas .ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secOfertas .ofertas .ofertas_card {
  width: 31%;
  height: 500px;
  overflow: hidden;
  padding: 1rem;
  margin: 10px;
  background-color: #f2f2f2;
  border: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 15px;
}

.secOfertas .ofertas .ofertas_card a {
  text-align: center;
}

.secOfertas .ofertas .ofertas_card .ofertas_content {
  position: relative;
  width: 100%;
  height: 45%;
}

.secOfertas .ofertas .ofertas_card .ofertas_content .descuento {
  position: absolute;
  right: 1rem;
  background: #ffac00;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secOfertas .ofertas .ofertas_card .ofertas_content .descuento h4 {
  font-size: 5rem;
  font-weight: 800;
  -webkit-animation: animDesc infinite  2s;
          animation: animDesc infinite  2s;
}

.secOfertas .ofertas .ofertas_card .ofertas_content .descuento span {
  color: #ff2a00;
  font-size: 2rem;
}

.secOfertas .ofertas .ofertas_card .ofertas_content .nomOferta {
  position: absolute;
  top: 7rem;
}

.secOfertas .ofertas .ofertas_card .ofertas_content .nomOferta h3 {
  font-size: 2.5rem;
}

.secOfertas .ofertas .ofertas_card .ofertas_content .nomOferta ul {
  list-style-type: disc;
  list-style-position: inside;
}

.secOfertas .ofertas .ofertas_card .ofertas_content .nomOferta ul li {
  margin-left: 2.5rem;
  font-size: 1.5rem;
  color: #ff2a00;
  font-style: italic;
}

.secOfertas .ofertas .ofertas_card .ofertas_imagen {
  width: 100%;
  height: 48%;
  overflow: hidden;
}

.secOfertas .ofertas .ofertas_card .ofertas_imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@-webkit-keyframes animDesc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animDesc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: CONTACTO */
/* ! -------------------------------------------------------------------------------------------------- */
.formulario span,
.formulario input,
.formulario textarea,
.formulario select,
.formulario p {
  font-size: 1.5rem;
}

/* ? FOOTER */
/* ?___________________________________________________________________________________________________________________________________________ */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer {
  position: relative;
  width: 100%;
  min-height: 30vh;
  padding: 0;
}

footer .footer .footer_content {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 95%;
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer .footer_content .footer_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
}

footer .footer .footer_content .footer_Box h3 {
  padding: .5rem 0;
  font-size: 2.5rem;
  color: #ff2a00;
}

footer .footer .footer_content .footer_Box p {
  font-size: 1.5rem;
  padding: .5rem 0;
  margin-bottom: 0;
}

footer .footer .footer_content .footer_Box .fas {
  color: #ff8a00;
  font-size: 1.8rem;
}

footer .footer .footer_content .footer_Box a {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  color: #fff;
}

footer .footer .footer_content .footer_Box a:hover {
  color: #ffac00;
  text-decoration: underline;
}

footer .derechos {
  text-align: center;
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
  padding: .5rem;
}

footer .derechos a {
  display: inline;
  color: #ff8a00;
}

footer .derechos span {
  color: #ff2a00;
}

footer .derechos .legales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */