// CLASE QUE DA ESTILO REDONDO A LOS ICONOS
.iconos {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;

    @include degradado(1);
    
    &:hover {
        transform: rotate(360deg);
        @include degradado(2);    
    }    
}

// Filtro negro transparente para que las letras puedan resaltar sobre las imagenes de fondo obscuras
.heroFiltro {
    -webkit-filter: brightness(.5);
    filter: brightness(.6);
}

// Clase del botón que moverse al inicio de la pantalla
.botInicio {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10000;
}


.boton {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;

    @include degradado(1);

    &:hover {

        @include degradado(2);        
    
        letter-spacing: .1rem;
        color: #fff;
    }
    
}

.titulo {
    text-align: center;
    color: $black;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.tituloLeft {
    @extend .titulo;
    text-align: left;
}

.tituloWhite { 
    @extend .titulo;
    color: $blanco;
}

.preTitulo {
    text-align: center;
    color: $red; 
    font-size: 2rem;
    padding-top: 1rem;
}

.preTituloLeft {
    @extend .preTitulo;
    text-align: left;
}

.preTituloWhite {
    @extend .preTitulo;
    color: $blanco;
}

.txtWhite {
    color: white;
}

.bkgwhite {
    background-color: #fff;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.fondoSecciones {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
