 /* ? CHEFS */
/* ?___________________________________________________________________________________________________________________________________________ */

.chefs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .chef_card {
        padding: 10px;
        width: 30%;
        margin: 0 10px;

        .chef_img {
            position: relative;
            width: 100%;
            height: 350px;    
            margin-bottom: 10px;
            border-radius: 10px;
            
            @include degradado(1);
            
            filter: grayscale(1);
            transition: filter 1s;
            display: flex;
            justify-content: center;
            flex-direction: column;

            img {
                position: absolute;
                bottom: 0;
                height: 95%;
                transition: height 0.5s;
                left: -40px;
            } 
            
        }

        &:nth-child(2) {           
            .chef_img {
                @include degradado(2);
            }
        }

        &:hover .chef_img img {
            height: 120%;
        }

        &:hover .chef_img {
            filter: grayscale(0);
        }
             
        .chef_content { 
            padding: 0 10px;

            h3 {
                font-size: 1.8rem;
            }
            
            p {
                font-size: 1.3rem;
                font-style: italic;
                color: var(--light-color);
            }
            
            .chef_social {
                margin-top: 10px;
                display: flex;
                justify-content: right;
                
            }
        }
    }
}


