/* ? CALIDAD */
/* ?___________________________________________________________________________________________________________________________________________ */

.secCalidad {
    padding-bottom: 0;

    .calidad {

        @include mixFlex(flex,center,center,0,0);

        .calidad_content {

            @include mixFlex(flex,center,center,0,0);
            margin: 40px 10px;

            .calidad_der {
                text-align: right;
                width: 250px;
            }           
            .calidad_izq {
                width: 250px;
            }            

            .calidad_content h3 {
                font-size: 1.8rem;
            }
            
            p {
                font-size: 1.3rem;
                font-style: italic;
                color: $light-color;
            }
            
            .calidad_iconos {
                margin: 0 15px;

                i {
                    height: 6.5rem;
                    line-height: 6.5rem;
                    width: 6.5rem;
                    text-align: center;
                    font-size: 3rem;
                    color: #fff;
                    border-radius: 50%;
                    @include degradado(1);

                    filter: grayscale(1);
                    transition: filter 0.5s;
                }
            }

            &:hover .calidad_iconos {
                transform: scale(1.1, 1.1);
            }
            
            &:hover .calidad_iconos i {
                filter: grayscale(0);
            }                        
        }

        .calidad_imagen {
            height: 550px;

            img {
                height: 100%;
            }            
        }        
    }
}