/* ? SECCIÓN VÍDEO */
/* ?___________________________________________________________________________________________________________________________________________ */

.secVideo {
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 0 100px;

    @include mixFlex(flex,flex-start,center,0,0);

    .videoContent {
        position: relative;
        width: 100%;
        z-index: 1;
        @include mixFlex(flex,center,center,0,column);

        .play {
            cursor: pointer;
            width: 80px;
            height: 80px;
            display: block;
            transition: .5s;
            border-radius: 50%;
            margin-top: 15px;
        
            -webkit-animation: ripple 2.5s linear 1s infinite;
            animation: ripple 2.5s linear 1s infinite;
        
            img {
                width: 80px;
                transition: width 0.5s;
            }
            
            &:hover {
                background: $red;
            }            
        }        
    }

    .videoPopup {
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
        width: 100%;
        height: 100%;
        @include mixFlex(flex,center,center,0,0);        
        backdrop-filter: blur(25px);
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }
        
        video {
            max-width: 1200px;
            outline: none;

            @include mixMQ($desk) {
                max-width: 90%;
            };    
        }        

        .close {
            position: absolute;
            top: 30px;  right: 30px;
            cursor: pointer;
            filter: invert(1);
            max-width: 32px;
        }    
        
    }        
}

@keyframes ripple {
    0% {
      box-shadow: 0 0 0 .7rem rgba(255,255,255, 0.2),
                  0 0 0 1.5rem rgba(255,255,255, 0.2),
                  0 0 0 5rem rgba(255,255,255, 0.2);
    }
    100% {
      box-shadow: 0 0 0 1.5rem rgba(255,255,255, 0.2),
                  0 0 0 4rem rgba(255,255,255, 0.2),
                  0 0 0 8rem rgba(255,255,255, 0);
    }
}
