 /* ? CHEFS */
/* ?___________________________________________________________________________________________________________________________________________ */

.secChefs {

    max-width: 1200px;
    margin: auto;

    .chefs {
        position: relative;
        // margin-bottom: 20px;

        @include mixFlex(flex,space-between,0,wrap,0);

        .chef_card {
            width: 30%;
            height: 500px;
            margin: 20px 10px;
            background-color: $blanco;
            border-radius: 15px;
            box-shadow: $box-shadow2;
            position: relative;

            .chef_img {
                position: relative;
                width: 100%;
                height: 60%;    
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                
                @include degradado(1);
                
                filter: grayscale(1);
                transition: filter 1s;

                img {
                    position: absolute;
                    bottom: 0;
                    height: 95%;
                    transition: height 0.5s;
                    left: -30px;

                    @include mixMQ($movil) {
                        left: 5rem;
                    };
                } 
                
            }

            &:nth-child(2) {           
                .chef_img {
                    @include degradado(2);
                }
            }

            &:hover .chef_img img {
                height: 120%;
            }

            &:hover .chef_img {
                filter: grayscale(0);
            }
                
            .chef_content { 
                padding: 15px;
                height: 40%;
                overflow: hidden;

                h3 {
                    font-size: 1.8rem;
                    font-weight: 700;
                }
                
                p {
                    font-size: 1.3rem;
                    font-style: italic;
                    color: $light-color;
                }
                
            }

            .chef_social {
                position: absolute;
                right: 2rem;
                bottom: -2.2rem;
            }

            // .chef_card
            @include mixMQ($tablet) {
                width: 45%;
            };
            @include mixMQ($movil) {
                width: 75%;
                height: 350px;
            };

        }

        // .chefs
        @include mixMQ($movil) {
            justify-content: center;
        };
    }

}

