/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: BLOG */
/* ! -------------------------------------------------------------------------------------------------- */

.secBlog {
    width: 85%;
    margin: 25px auto; 

    .blogs {
        width: 100%;
        @include mixFlex(flex,space-evenly,0,wrap,0);
        margin-top: 35px;

        .blogBox {

            width: 48%;
            border: $borde;
            border-radius: 10px;
            box-shadow: $box-shadow;
            margin-bottom: 25px;
            background-color: $blanco;

            iframe { 
                width: 100%;
                height: 350px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                @include mixMQ($deskXL) {
                    height: 250px;
                };
                @include mixMQ($desk) {
                    height: 200px;
                };
                @include mixMQ($tablet) {
                    height: 172px;
                };
            }

            .blogBox_content {
                width: 100%;
                height: 150px;
                padding: 10px 15px 0 15px;
                overflow: hidden;

                h3 {
                    text-transform: uppercase;
                    font-size: 2.5rem;

                    @include mixMQ($deskXL) {
                        font-size: 2rem;
                    };
                    @include mixMQ($tablet) {
                        font-size: 1.7rem;
                    };    

                }
                
                span {
                    font-size: 1.2rem;
                    font-style: italic;
                    margin-right: 1rem;
                }

                p {
                    font-size: 1.3rem;
                }

                // ! .blogBox_content
                @include mixMQ($desk) {
                    height: 200px;
                };
                @include mixMQ($tablet) {
                    overflow-y: scroll;
                };
                @include mixMQ($movil) {
                    overflow: auto;
                    height: 120px;
                };
            }

            .blogFoot {
                position: relative;
                height: 60px;
                
                a {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                }
                // margin-left: 250px;
                // margin-bottom: 15px;
            }

            // ! .blogBpx
            @include mixMQ($movil) {
                width: 100%;
            };
        }  
        
        // .blogs
        @include mixMQ($tablet) {
            justify-content: space-between;
        };
    }
}

