 /* ? GALERIA */
/* ?___________________________________________________________________________________________________________________________________________ */

.galeria {
    @include mixFlex(flex,center,center,0,column);

    .galeria_content {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
        justify-content: space-evenly;
        object-fit: cover;
        margin: 2rem 0;    

        a {

            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;    
                border-radius: 10px;
            }

            &:hover img {
                // -webkit-filter: grayscale(0);
                -webkit-transform: scale(1.05);
            }
    
        }
        
        @include mixMQ($movil) {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));            
        };
    }    

    @include mixMQ($tablet) {
        padding: 20px 0 30px 0;
    };
}
