/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: MENU */
/* ! -------------------------------------------------------------------------------------------------- */


.botonFiltro {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: $blanco;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    background-color: $red;

    &:hover {
        background-color: $black;
        letter-spacing: .1rem;
    }

    &--actvie {
        background-color: $black;
    }    
}

/* ? MENÚ */
/* ?___________________________________________________________________________________________________________________________________________ */

.secMenu {
    @include mixFlex(flex,0,center,0,column);

    .categorias {
        @include mixFlex(flex,center,0,0,0);
        margin-bottom: 2rem;
    
        ul {
            list-style-type: none ;     
    
            li {
                color: $blanco;

                @include mixMQ($tablet) {
                    width: 32%;
                    text-align: center;
                };
                @include mixMQ($movil) {
                    font-size: 1.3rem;
                };
            } 

            @include mixMQ($tablet) {
                width: 100%;
                margin: 5px 10px;
            };
        }    
    }
    
    .menu {

        width: 100%;
        margin: 15px 0;
        max-width: 1200px;

        .card {

            .card-header {

                a {
                    font-size: 1.8rem;

                    margin: 10px;
                    text-align: left;
                    text-transform: uppercase;
                }                    
            }

            .box_categoria {
                    
                @include mixFlex(flex,center,0,wrap,0);
                width: 100%;

                .box {
                    @include mixFlex(flex,center,0,0,column);
                    border-radius: 1rem;
                    box-shadow: $box-shadow;
                    width: 18%;
                    height: 320px;
                    margin: 1.5rem 1rem;

                    .box_image {
                        width: 100%;
                        height: 50%;
                        overflow: hidden;
                        position: relative;
                        border-top-left-radius: 1rem;
                        border-top-right-radius: 1rem;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-top-left-radius: 1rem;
                            border-top-right-radius: 1rem;

                            @include mixMQ($movil) {
                                border-top-right-radius: 0;
                            };
                        }

                        .fa-heart{
                            position: absolute;
                            top: 1rem; right: 1rem;
                            @include mixIcono(4rem, 1.5rem);
                            background: $blanco;
                            color: $light-color;

                            &:hover {
                                background: $red;
                                color: $blanco;
                            } 
                            
                            @include mixMQ($movil) {
                                left: 1rem;
                            };
                        }          
                        
                        //.box_image
                        @include mixMQ($movil) {
                            height: 100%;
                            width: 35%;
                            border-top-left-radius: 1rem;
                            border-bottom-left-radius: 1rem;
                            border-top-right-radius: 0;
                        };
                    }            

                    .box_content {
                        padding: 1rem 1rem 0 1rem;
                        @include mixFlex(flex,0,0,0,column);
                        height: 50%;

                        .box_texto {
                            height: 70%;
                            overflow-y: auto;

                            // NOMBRE DEL PLATILLO
                            h3 {
                                font-size: 1.5rem;
                                font-weight: 800;

                                @include mixMQ($desk) {
                                    font-size: 1.35rem;
                                };

                                @include mixMQ($movil) {
                                    font-size: 1.8rem;
                                };
                            }

                            // DESCRIPCIÓN DEL PRODUCTO
                            p {
                                font-size: 1.2rem;
                                color: $light-color;

                                @include mixMQ($movil) {
                                    font-size: 1.3rem;
                                };                                
                            }
                        }

                        .box_footer {
                            @include mixFlex(flex,space-between,center,0,0);
                            height: 30%;
                            border-top: $borde;
                            padding: 5px;

                            i {
                                @include mixIcono(3rem, 1.5rem);
                                color: $light-color;
                                border: $borde;
                                margin-left: 0;

                                &:hover {
                                    background: $red;
                                    color: $blanco;
                                    border: none;
                                } 
    
                            }

                            span {
                                display: inline-block;
                                color: $red;
                                font-size: 2rem;
                                font-weight: 800;
                                text-align: right;
                            }

                            // .box_footer
                            @include mixMQ($movil) {
                                border-top: none;
                            };


                        }
                        
                        //.box_content
                        @include mixMQ($movil) {
                            height: 100%;
                            width: 65%;
                            padding: 1.2rem 1.2rem .8rem 1.2rem;
                        };
                    }   

        
                    &:hover .box_image img {
                        -webkit-transform: scale(1.05);
                    }
        
                    
                    // .box
                    @include mixMQ($desk) {
                        width: 17%;
                    };
                    @include mixMQ($tablet) {
                        width: 30%;
                    };
                    @include mixMQ($movil) {
                        width: 100%;
                        height: 120px;
                        flex-direction: row;
                    };
                }             
            }
        }
        
        //.menu
        @include mixMQ($deskXL) {
            width: 95%;
        };


    } 

    // .secMenu
    @include mixMQ($deskXL) {
        padding: 20px 0 30px 0;
    };
}


