/* ! -------------------------------------------------------------------------------------------------- */
/* ! PAGINA: MENU */
/* ! -------------------------------------------------------------------------------------------------- */


.botonFiltro {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: $blanco;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    background-color: $red;

    &:hover {
        background-color: $black;
        letter-spacing: .1rem;
    }

    &--actvie {
        background-color: $black;
    }    
}

/* ? MENÚ */
/* ?___________________________________________________________________________________________________________________________________________ */

.secMenu {
    @include mixFlex(flex,0,center,0,column);

    .categorias {
        @include mixFlex(flex,center,0,0,0);
        margin-bottom: 2rem;
    
        ul {
            list-style-type: none ;     
    
            li {
                color: $blanco;

                @include mixMQ($tablet) {
                    width: 32%;
                    text-align: center;
                };
                @include mixMQ($movil) {
                    font-size: 1.3rem;
                };
            } 

            @include mixMQ($tablet) {
                width: 100%;
                margin: 5px 10px;
            };
        }    
    }
    
    .menu {
        @include mixFlex(flex,center,center,wrap,0);
        margin: 15px 0;
        max-width: 1200px;

        > h3 {
            font-size: 2rem;
            border-bottom: $borde;
            width: 100%;
            margin: 10px;
            text-transform: uppercase;
        }

        .box_categoria {
            
            @include mixFlex(flex,center,0,wrap,0);
            width: 100%;

            .box {
                @include mixFlex(flex,0,0,0,column);
                background: $blanco;
                border-radius: 1rem;
                // border: $borde;
                box-shadow: $box-shadow;
                width: 220px;
                height: 370px;
                margin: 1rem;
                // padding: 1.5rem;    

                .box_image {
                    width: 100%;
                    height: 220px;
                    overflow: hidden;
                    position: relative;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-top-left-radius: 1rem;
                        border-top-right-radius: 1rem;

                        @include mixMQ($movil) {
                            border-top-right-radius: 0;
                        };
                    }

                    .fa-heart{
                        position: absolute;
                        top: 1rem; right: 1rem;
                        background: $blanco;
                        border-radius: 50%;
                        height: 5rem;
                        width: 5rem;
                        line-height: 5rem;
                        font-size: 2rem;
                        text-align: center;
                        color: $black;

                        &:hover {
                            background: $red;
                            color: $blanco;
                        } 
                        
                        @include mixMQ($movil) {
                            left: 1rem;
                        };
                    }          
                    
                    @include mixMQ($deskXL) {
                        height: 200px;
                    };
                    @include mixMQ($movil) {
                        height: 100%;
                        width: 35%;
                        border-top-left-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                        border-top-right-radius: 0;
                    };
                }            

                .box_content {
                    padding: 1.5rem;
                    @include mixFlex(flex,0,0,0,column);

                    .box_texto {
                        height: 95px;
                        overflow-y: hidden;

                        h3 {
                            font-size: 1.5rem;
                            font-weight: 800;

                            // @include mixMQ($movilSM) {
                            //     font-size: 1.5rem;
                            // };
                        }

                        p {
                            font-size: 1.3rem;
                            color: $light-color;
                            // line-height: 1.3rem;

                            // @include mixMQ($movilSM) {
                            //     font-size: 1.3rem;
                            // };                    
                        }

                        //@include mixMQ($movil) {
                        //    height: 150px;
                        //};
                    }
                    
                    span {
                        display: inline-block;
                        width: 100%;
                        color: $red;
                        // margin-left: 1rem;
                        font-size: 2.5rem;
                        font-weight: 800;
                        text-align: right;
                        border-top: $borde;
                        padding-top: 3px;
                    }

                    a {
                        text-align: center;

                        // @include mixMQ($movil) {
                        //     font-size: 1.4rem;
                        // };
                        // @include mixMQ($movilSM) {
                        //     font-size: 1rem;
                        // };
                    }   
                    
                    @include mixMQ($movil) {
                        width: 65%;
                    };
                }   

    
                &:hover .box_image img {
                    // -webkit-filter: grayscale(0);
                    -webkit-transform: scale(1.05);
                }
    
                
                // .box
                @include mixMQ($deskXL) {
                    width: 18%;
                    height: 350px;    
                };
                @include mixMQ($desk) {
                    width: 17%;
                    height: 350px;    
                };
                @include mixMQ($tablet) {
                    width: 30%;
                };
                @include mixMQ($movil) {
                    width: 100%;
                    height: 150px;
                    flex-direction: row;
                };
            }             
        }
        
        //.menu
        @include mixMQ($deskXL) {
            width: 95%;
            justify-content: space-evenly
        };


    } 

    // .secMenu
    @include mixMQ($deskXL) {
        padding: 20px 0 30px 0;
    };
}


