/* ? OFERTAS */
/* ?___________________________________________________________________________________________________________________________________________ */

.secOfertas {

    @include mixFlex(flex,center,center,0,column);

    .ofertas {

        @include mixFlex(flex,center,center,wrap,0);

        .ofertas_card {

            @include mixFlex(flex,space-around,0,0,column);

            width: 31%;
            height: 500px;
            overflow: hidden;
            padding: 1rem;
            margin: 10px;
            background-color: $light;
            border: $borde;
            border-radius: 15px;

            a {
                text-align: center;
            }

            .ofertas_content {
                position: relative;
                width: 100%;
                height: 45%;

                .descuento {
                    position: absolute;
                    right: 1rem;
                    background: $yellow;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    @include mixFlex(flex,center,center,0,0);

                    h4 {
                        font-size: 5rem;
                        font-weight: 800;
                        animation: animDesc infinite  2s;

                        @include mixMQ($tablet) {
                            font-size: 3.5rem;
                        }
                        @include mixMQ($movil) {
                            font-size: 5rem;
                        }

                    }

                    span {
                        color: $red;
                        font-size: 2rem;
                    }     
                    
                    /* .descuento */
                    @include mixMQ($tablet) {
                        right: 0.5rem;
                        height: 75px;
                        width: 75px;                    
                    };
                    @include mixMQ($movil) {
                        top: 3rem;
                        right: 2rem;
                    };
                } 
                
                .nomOferta {
                    position: absolute;
                    top: 7rem;

                    h3 {
                        font-size: 2.5rem;

                        @include mixMQ($tablet) {
                            font-size: 1.8rem;
                        }
                        @include mixMQ($movil) {
                            font-size: 3rem;
                        }

                    }

                    ul {
                        list-style-type: disc ; 
                        list-style-position: inside;

                        li {    
                            font-size: 1.5rem;
                            color: $red;
                            font-style: italic;

                            @include mixMQ($tablet) {
                                font-size: 1.3rem;
                            }    
                            @include mixMQ($movil) {
                                font-size: 1.6rem;
                            }    

                        }                        
                    }

                    // nomOferta
                    @include mixMQ($movil) {
                        top: 1rem;
                        left: 2rem;
                    };
                }     
                
                // ofertas_content
                @include mixMQ($movil) {
                    height: 130px;
                };                
            }  
            
            .ofertas_imagen {
                width: 100%;
                height: 48%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                } 
                
            }
           
            /* .ofertasCard  */    
            @include mixMQ($tablet) {
                width: 30%;
                height: 460px
            };
            @include mixMQ($movil) {
                width: 90%;
                height: 350px;
            };

        }   
        
        /* .Ofertas  */    
        @include mixMQ($tablet) {
            padding: 0;
        };
        @include mixMQ($movil) {
            flex-direction: column;
        };
        
    }    

    /* SecOfertas  */    
    @include mixMQ($desk) {
        padding: 20px 0 30px 0;
    };
}

@keyframes animDesc {
    0% { opacity: 0; }
    100% {opacity: 1;}
}
