$red: #ff2a00;
$black: #000;
$orange: #ff8a00;
$yellow: #ffac00; 
$light-color: #666;
$blanco: #fff;
$light: #f2f2f2;

$box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
$box-shadow2: 2px 5px 10px rgba(0, 0, 0, 0.5);;
$borde: 1px solid rgb(208, 208, 208);

// TAMAÑOS DE PANTALLA

$deskXL: 1200px;
$desk: 992px;
$tablet: 768px;
$movil: 480px;
$movilSM: 375px; 

